In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('pew.txt' ,sep='\t')

In [7]:
df

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328
11,Mormon,29,40,48,51,56,112,85,49,42,69
12,Muslim,6,7,9,10,9,23,16,8,6,22
13,Orthodox,13,17,23,32,32,47,38,42,46,73
14,Other Christian,9,7,11,13,13,14,18,14,12,18
15,Other Faiths,20,33,40,46,49,63,46,40,41,71
16,Other World Religions,5,2,3,4,2,7,3,4,4,8
17,Unaffiliated,217,299,374,365,341,528,407,321,258,597

In [9]:
df[df.religion == 'Buddhist']

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
2,Buddhist,27,21,30,34,33,58,62,39,53,54

In [10]:
df[df.religion == 'Buddhist'].mean(axis=1)

2    41.1
dtype: float64

In [17]:
df.melt('religion') # wild -> long

                    religion            variable  value
0                   Agnostic               <$10k     27
1                    Atheist               <$10k     12
2                   Buddhist               <$10k     27
3                   Catholic               <$10k    418
4         Don’t know/refused               <$10k     15
5           Evangelical Prot               <$10k    575
6                      Hindu               <$10k      1
7    Historically Black Prot               <$10k    228
8          Jehovah's Witness               <$10k     20
9                     Jewish               <$10k     19
10             Mainline Prot               <$10k    289
11                    Mormon               <$10k     29
12                    Muslim               <$10k      6
13                  Orthodox               <$10k     13
14           Other Christian               <$10k      9
15              Other Faiths               <$10k     20
16     Other World Religions               <$10k      5
17              Unaffiliated               <$10k    217
18                  Agnostic             $10-20k     34
19                   Atheist             $10-20k     27
20                  Buddhist             $10-20k     21
21                  Catholic             $10-20k    617
22        Don’t know/refused             $10-20k     14
23          Evangelical Prot             $10-20k    869
24                     Hindu             $10-20k      9
25   Historically Black Prot             $10-20k    244
26         Jehovah's Witness             $10-20k     27
27                    Jewish             $10-20k     19
28             Mainline Prot             $10-20k    495
29                    Mormon             $10-20k     40
..                       ...                 ...    ...
150                    Hindu               >150k     54
151  Historically Black Prot               >150k     78
152        Jehovah's Witness               >150k      6
153                   Jewish               >150k    151
154            Mainline Prot               >150k    634
155                   Mormon               >150k     42
156                   Muslim               >150k      6
157                 Orthodox               >150k     46
158          Other Christian               >150k     12
159             Other Faiths               >150k     41
160    Other World Religions               >150k      4
161             Unaffiliated               >150k    258
162                 Agnostic  Don't know/refused     96
163                  Atheist  Don't know/refused     76
164                 Buddhist  Don't know/refused     54
165                 Catholic  Don't know/refused   1489
166       Don’t know/refused  Don't know/refused    116
167         Evangelical Prot  Don't know/refused   1529
168                    Hindu  Don't know/refused     37
169  Historically Black Prot  Don't know/refused    339
170        Jehovah's Witness  Don't know/refused     37
171                   Jewish  Don't know/refused    162
172            Mainline Prot  Don't know/refused   1328
173                   Mormon  Don't know/refused     69
174                   Muslim  Don't know/refused     22
175                 Orthodox  Don't know/refused     73
176          Other Christian  Don't know/refused     18
177             Other Faiths  Don't know/refused     71
178    Other World Religions  Don't know/refused      8
179             Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

In [19]:
melt_data = df.melt('religion')

In [24]:
melt_data[melt_data.religion == 'Buddhist']

     religion            variable  value
2    Buddhist               <$10k     27
20   Buddhist             $10-20k     21
38   Buddhist             $20-30k     30
56   Buddhist             $30-40k     34
74   Buddhist             $40-50k     33
92   Buddhist             $50-75k     58
110  Buddhist            $75-100k     62
128  Buddhist           $100-150k     39
146  Buddhist               >150k     53
164  Buddhist  Don't know/refused     54

In [27]:
melt_data.groupby('religion').mean() # 보통 통계적 함수 나온다.

                         value
religion
Agnostic                  82.6
Atheist                   51.5
Buddhist                  41.1
Catholic                 805.4
Don’t know/refused        27.2
Evangelical Prot         947.2
Hindu                     25.7
Historically Black Prot  199.5
Jehovah's Witness         21.5
Jewish                    68.2
Mainline Prot            747.0
Mormon                    58.1
Muslim                    11.6
Orthodox                  36.3
Other Christian           12.9
Other Faiths              44.9
Other World Religions      4.2
Unaffiliated             370.7

In [28]:
melt_data.groupby('religion').min()

                        variable  value
religion
Agnostic                 $10-20k     27
Atheist                  $10-20k     12
Buddhist                 $10-20k     21
Catholic                 $10-20k    418
Don’t know/refused       $10-20k     10
Evangelical Prot         $10-20k    414
Hindu                    $10-20k      1
Historically Black Prot  $10-20k     78
Jehovah's Witness        $10-20k      6
Jewish                   $10-20k     19
Mainline Prot            $10-20k    289
Mormon                   $10-20k     29
Muslim                   $10-20k      6
Orthodox                 $10-20k     13
Other Christian          $10-20k      7
Other Faiths             $10-20k     20
Other World Religions    $10-20k      2
Unaffiliated             $10-20k    217

In [30]:
df2 = pd.read_csv('tb.csv')

In [31]:
df2

,iso2,year,new_sp,new_sp_m04,new_sp_m514,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,...,new_sp_f04,new_sp_f514,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65,new_sp_fu
0,AD,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AD,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AD,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AD,1993,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,AD,1994,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,AD,1996,8.0,NaN,NaN,0.0,0.0,0.0,4.0,1.0,...,NaN,NaN,0.0,1.0,1.0,0.0,0.0,1.0,0.0,NaN
7,AD,1997,17.0,NaN,NaN,0.0,0.0,1.0,2.0,2.0,...,NaN,NaN,0.0,1.0,2.0,3.0,0.0,0.0,1.0,NaN
8,AD,1998,1.0,NaN,NaN,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,AD,1999,4.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN
10,AD,2000,1.0,NaN,NaN,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,AD,2001,3.0,NaN,NaN,0.0,NaN,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,AD,2002,2.0,NaN,NaN,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN
13,AD,2003,7.0,NaN,NaN,0.0,0.0,0.0,1.0,2.0,...,NaN,NaN,0.0,1.0,1.0,1.0,0.0,0.0,0.0,NaN
14,AD,2004,3.0,NaN,NaN,0.0,0.0,0.0,1.0,1.0,...,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN
15,AD,2005,5.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
16,AD,2006,8.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
17,AD,2007,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN
18,AD,2008,3.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
19,AE,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,AE,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,AE,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,AE,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,AE,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,AE,1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,AE,1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,AE,1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,AE,1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,AE,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,AE,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5739,ZM,2008,13211.0,NaN,NaN,101.0,1120.0,3244.0,2094.0,737.0,...,NaN,NaN,165.0,1246.0,2062.0,1114.0,498.0,187.0,115.0,0.0
5740,ZW,1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5741,ZW,1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5742,ZW,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5743,ZW,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5744,ZW,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5745,ZW,1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5746,ZW,1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5747,ZW,1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5748,ZW,1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5749,ZW,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5750,ZW,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5751,ZW,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5752,ZW,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5753,ZW,1993,5331.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5754,ZW,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5755,ZW,1995,8965.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5756,ZW,1996,11965.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5757,ZW,1997,14512.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5758,ZW,1998,14492.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5759,ZW,1999,14414.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5760,ZW,2000,14392.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5761,ZW,2001,15370.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5762,ZW,2002,15941.0,NaN,NaN,191.0,600.0,2548.0,1662.0,744.0,...,NaN,NaN,222.0,914.0,2185.0,1095.0,421.0,140.0,65.0,NaN
5763,ZW,2003,14488.0,NaN,NaN,133.0,874.0,3048.0,2228.0,981.0,...,NaN,NaN,180.0,1232.0,2856.0,1480.0,565.0,225.0,114.0,NaN
5764,ZW,2004,14581.0,NaN,NaN,187.0,833.0,2908.0,2298.0,1056.0,...,NaN,NaN,225.0,1140.0,2858.0,1565.0,622.0,214.0,111.0,NaN
5765,ZW,2005,13155.0,NaN,NaN,210.0,837.0,2264.0,1855.0,762.0,...,NaN,NaN,269.0,1136.0,2242.0,1255.0,578.0,193.0,603.0,NaN
5766,ZW,2006,12718.0,NaN,NaN,215.0,736.0,2391.0,1939.0,896.0,...,NaN,NaN,237.0,1020.0,2424.0,1355.0,632.0,230.0,96.0,NaN
5767,ZW,2007,10583.0,6.0,132.0,138.0,500.0,3693.0,0.0,716.0,...,7.0,178.0,185.0,739.0,3311.0,0.0,553.0,213.0,90.0,NaN
5768,ZW,2008,9830.0,NaN,NaN,127.0,614.0,0.0,3316.0,704.0,...,NaN,NaN,145.0,840.0,0.0,2890.0,467.0,174.0,105.0,0.0

In [37]:
df2.melt(['iso2', 'year']) # 변수만 있고 값이 없어 그럼 dropna

       iso2  year   variable  value
0        AD  1989     new_sp    NaN
1        AD  1990     new_sp    NaN
2        AD  1991     new_sp    NaN
3        AD  1992     new_sp    NaN
4        AD  1993     new_sp   15.0
5        AD  1994     new_sp   24.0
6        AD  1996     new_sp    8.0
7        AD  1997     new_sp   17.0
8        AD  1998     new_sp    1.0
9        AD  1999     new_sp    4.0
10       AD  2000     new_sp    1.0
11       AD  2001     new_sp    3.0
12       AD  2002     new_sp    2.0
13       AD  2003     new_sp    7.0
14       AD  2004     new_sp    3.0
15       AD  2005     new_sp    5.0
16       AD  2006     new_sp    8.0
17       AD  2007     new_sp    2.0
18       AD  2008     new_sp    3.0
19       AE  1980     new_sp    NaN
20       AE  1981     new_sp    NaN
21       AE  1982     new_sp    NaN
22       AE  1983     new_sp    NaN
23       AE  1984     new_sp    NaN
24       AE  1985     new_sp    NaN
25       AE  1986     new_sp    NaN
26       AE  1987     new_sp    NaN
27       AE  1988     new_sp    NaN
28       AE  1989     new_sp    NaN
29       AE  1990     new_sp    NaN
...     ...   ...        ...    ...
121119   ZM  2008  new_sp_fu    0.0
121120   ZW  1980  new_sp_fu    NaN
121121   ZW  1981  new_sp_fu    NaN
121122   ZW  1982  new_sp_fu    NaN
121123   ZW  1983  new_sp_fu    NaN
121124   ZW  1984  new_sp_fu    NaN
121125   ZW  1985  new_sp_fu    NaN
121126   ZW  1986  new_sp_fu    NaN
121127   ZW  1987  new_sp_fu    NaN
121128   ZW  1988  new_sp_fu    NaN
121129   ZW  1989  new_sp_fu    NaN
121130   ZW  1990  new_sp_fu    NaN
121131   ZW  1991  new_sp_fu    NaN
121132   ZW  1992  new_sp_fu    NaN
121133   ZW  1993  new_sp_fu    NaN
121134   ZW  1994  new_sp_fu    NaN
121135   ZW  1995  new_sp_fu    NaN
121136   ZW  1996  new_sp_fu    NaN
121137   ZW  1997  new_sp_fu    NaN
121138   ZW  1998  new_sp_fu    NaN
121139   ZW  1999  new_sp_fu    NaN
121140   ZW  2000  new_sp_fu    NaN
121141   ZW  2001  new_sp_fu    NaN
121142   ZW  2002  new_sp_fu    NaN
121143   ZW  2003  new_sp_fu    NaN
121144   ZW  2004  new_sp_fu    NaN
121145   ZW  2005  new_sp_fu    NaN
121146   ZW  2006  new_sp_fu    NaN
121147   ZW  2007  new_sp_fu    NaN
121148   ZW  2008  new_sp_fu    0.0

[121149 rows x 4 columns]

In [40]:
df2 = df2.melt(['iso2', 'year'], value_name='문', var_name='근영')

In [41]:
df2

       iso2  year         근영     문
0        AD  1989     new_sp   NaN
1        AD  1990     new_sp   NaN
2        AD  1991     new_sp   NaN
3        AD  1992     new_sp   NaN
4        AD  1993     new_sp  15.0
5        AD  1994     new_sp  24.0
6        AD  1996     new_sp   8.0
7        AD  1997     new_sp  17.0
8        AD  1998     new_sp   1.0
9        AD  1999     new_sp   4.0
10       AD  2000     new_sp   1.0
11       AD  2001     new_sp   3.0
12       AD  2002     new_sp   2.0
13       AD  2003     new_sp   7.0
14       AD  2004     new_sp   3.0
15       AD  2005     new_sp   5.0
16       AD  2006     new_sp   8.0
17       AD  2007     new_sp   2.0
18       AD  2008     new_sp   3.0
19       AE  1980     new_sp   NaN
20       AE  1981     new_sp   NaN
21       AE  1982     new_sp   NaN
22       AE  1983     new_sp   NaN
23       AE  1984     new_sp   NaN
24       AE  1985     new_sp   NaN
25       AE  1986     new_sp   NaN
26       AE  1987     new_sp   NaN
27       AE  1988     new_sp   NaN
28       AE  1989     new_sp   NaN
29       AE  1990     new_sp   NaN
...     ...   ...        ...   ...
121119   ZM  2008  new_sp_fu   0.0
121120   ZW  1980  new_sp_fu   NaN
121121   ZW  1981  new_sp_fu   NaN
121122   ZW  1982  new_sp_fu   NaN
121123   ZW  1983  new_sp_fu   NaN
121124   ZW  1984  new_sp_fu   NaN
121125   ZW  1985  new_sp_fu   NaN
121126   ZW  1986  new_sp_fu   NaN
121127   ZW  1987  new_sp_fu   NaN
121128   ZW  1988  new_sp_fu   NaN
121129   ZW  1989  new_sp_fu   NaN
121130   ZW  1990  new_sp_fu   NaN
121131   ZW  1991  new_sp_fu   NaN
121132   ZW  1992  new_sp_fu   NaN
121133   ZW  1993  new_sp_fu   NaN
121134   ZW  1994  new_sp_fu   NaN
121135   ZW  1995  new_sp_fu   NaN
121136   ZW  1996  new_sp_fu   NaN
121137   ZW  1997  new_sp_fu   NaN
121138   ZW  1998  new_sp_fu   NaN
121139   ZW  1999  new_sp_fu   NaN
121140   ZW  2000  new_sp_fu   NaN
121141   ZW  2001  new_sp_fu   NaN
121142   ZW  2002  new_sp_fu   NaN
121143   ZW  2003  new_sp_fu   NaN
121144   ZW  2004  new_sp_fu   NaN
121145   ZW  2005  new_sp_fu   NaN
121146   ZW  2006  new_sp_fu   NaN
121147   ZW  2007  new_sp_fu   NaN
121148   ZW  2008  new_sp_fu   0.0

[121149 rows x 4 columns]

In [42]:
df2.dropna(inplace=True)

In [43]:
df2

       iso2  year         근영       문
4        AD  1993     new_sp    15.0
5        AD  1994     new_sp    24.0
6        AD  1996     new_sp     8.0
7        AD  1997     new_sp    17.0
8        AD  1998     new_sp     1.0
9        AD  1999     new_sp     4.0
10       AD  2000     new_sp     1.0
11       AD  2001     new_sp     3.0
12       AD  2002     new_sp     2.0
13       AD  2003     new_sp     7.0
14       AD  2004     new_sp     3.0
15       AD  2005     new_sp     5.0
16       AD  2006     new_sp     8.0
17       AD  2007     new_sp     2.0
18       AD  2008     new_sp     3.0
35       AE  1999     new_sp    31.0
36       AE  2000     new_sp    73.0
37       AE  2001     new_sp    69.0
38       AE  2002     new_sp    57.0
39       AE  2003     new_sp    77.0
40       AE  2004     new_sp    57.0
41       AE  2005     new_sp    62.0
42       AE  2006     new_sp    52.0
43       AE  2007     new_sp    56.0
44       AE  2008     new_sp    50.0
57       AF  1997     new_sp   618.0
58       AF  1998     new_sp  1833.0
59       AF  1999     new_sp  1669.0
60       AF  2000     new_sp  2892.0
61       AF  2001     new_sp  4639.0
...     ...   ...        ...     ...
120309   SZ  2008  new_sp_fu     0.0
120387   TG  2008  new_sp_fu     0.0
120442   TJ  2005  new_sp_fu     0.0
120444   TJ  2007  new_sp_fu     0.0
120445   TJ  2008  new_sp_fu     0.0
120471   TK  2008  new_sp_fu     0.0
120479   TL  2008  new_sp_fu     0.0
120504   TM  2005  new_sp_fu     0.0
120505   TM  2006  new_sp_fu     0.0
120506   TM  2007  new_sp_fu     0.0
120565   TO  2008  new_sp_fu     0.0
120589   TR  2005  new_sp_fu     0.0
120590   TR  2006  new_sp_fu     0.0
120591   TR  2007  new_sp_fu     0.0
120592   TR  2008  new_sp_fu     0.0
120621   TT  2008  new_sp_fu     0.0
120649   TV  2008  new_sp_fu     0.0
120705   UA  2006  new_sp_fu     0.0
120706   UA  2007  new_sp_fu     0.0
120734   UG  2008  new_sp_fu     0.0
120763   US  2008  new_sp_fu     0.0
120792   UY  2008  new_sp_fu     0.0
120819   UZ  2007  new_sp_fu     0.0
120878   VE  2008  new_sp_fu     0.0
120935   VN  2008  new_sp_fu     0.0
120964   VU  2008  new_sp_fu     0.0
121038   YE  2008  new_sp_fu     0.0
121092   ZA  2008  new_sp_fu     0.0
121119   ZM  2008  new_sp_fu     0.0
121148   ZW  2008  new_sp_fu     0.0

[38619 rows x 4 columns]

In [44]:
df2.groupby('year').sum()

              문
year
1980     9309.0
1981     8692.0
1982     8030.0
1983     8223.0
1984    11838.0
1985    13929.0
1986    15389.0
1987    22413.0
1988    25347.0
1989    25714.0
1990    29185.0
1991    29708.0
1992    33323.0
1993   811968.0
1994   918563.0
1995  1687867.0
1996  1962020.0
1997  2098090.0
1998  2247841.0
1999  2494576.0
2000  2675011.0
2001  2846873.0
2002  3239720.0
2003  3797809.0
2004  4397434.0
2005  4763678.0
2006  5041842.0
2007  5154589.0
2008  5294658.0

In [48]:
df2.groupby('iso2').groupby('year').sum()

AttributeError: Cannot access callable attribute 'groupby' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [104]:
df3 = pd.read_csv('weather.txt', sep='\t')

In [105]:
df3

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX000017004,2010,1,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.0,NaN
1,MX000017004,2010,1,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.0,NaN
2,MX000017004,2010,2,TMAX,NaN,273.0,241.0,NaN,NaN,NaN,...,NaN,299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX000017004,2010,2,TMIN,NaN,144.0,144.0,NaN,NaN,NaN,...,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX000017004,2010,3,TMAX,NaN,NaN,NaN,NaN,321.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX000017004,2010,3,TMIN,NaN,NaN,NaN,NaN,142.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX000017004,2010,4,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,363.0,NaN,NaN,NaN,NaN
7,MX000017004,2010,4,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,167.0,NaN,NaN,NaN,NaN
8,MX000017004,2010,5,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,332.0,NaN,NaN,NaN,NaN
9,MX000017004,2010,5,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,182.0,NaN,NaN,NaN,NaN
10,MX000017004,2010,6,TMAX,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301.0,NaN,NaN
11,MX000017004,2010,6,TMIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180.0,NaN,NaN
12,MX000017004,2010,7,TMAX,NaN,NaN,286.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX000017004,2010,7,TMIN,NaN,NaN,175.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX000017004,2010,8,TMAX,NaN,NaN,NaN,NaN,296.0,NaN,...,NaN,264.0,NaN,297.0,NaN,NaN,NaN,280.0,NaN,254.0
15,MX000017004,2010,8,TMIN,NaN,NaN,NaN,NaN,158.0,NaN,...,NaN,150.0,NaN,156.0,NaN,NaN,NaN,153.0,NaN,154.0
16,MX000017004,2010,10,TMAX,NaN,NaN,NaN,NaN,270.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,312.0,NaN,NaN,NaN
17,MX000017004,2010,10,TMIN,NaN,NaN,NaN,NaN,140.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,150.0,NaN,NaN,NaN
18,MX000017004,2010,11,TMAX,NaN,313.0,NaN,272.0,263.0,NaN,...,NaN,NaN,NaN,NaN,281.0,277.0,NaN,NaN,NaN,NaN
19,MX000017004,2010,11,TMIN,NaN,163.0,NaN,120.0,79.0,NaN,...,NaN,NaN,NaN,NaN,121.0,142.0,NaN,NaN,NaN,NaN
20,MX000017004,2010,12,TMAX,299.0,NaN,NaN,NaN,NaN,278.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX000017004,2010,12,TMIN,138.0,NaN,NaN,NaN,NaN,105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
df3 = df3.melt(['id','year','month','element'])

In [107]:
df3

              id  year  month element variable  value
0    MX000017004  2010      1    TMAX       d1    NaN
1    MX000017004  2010      1    TMIN       d1    NaN
2    MX000017004  2010      2    TMAX       d1    NaN
3    MX000017004  2010      2    TMIN       d1    NaN
4    MX000017004  2010      3    TMAX       d1    NaN
5    MX000017004  2010      3    TMIN       d1    NaN
6    MX000017004  2010      4    TMAX       d1    NaN
7    MX000017004  2010      4    TMIN       d1    NaN
8    MX000017004  2010      5    TMAX       d1    NaN
9    MX000017004  2010      5    TMIN       d1    NaN
10   MX000017004  2010      6    TMAX       d1    NaN
11   MX000017004  2010      6    TMIN       d1    NaN
12   MX000017004  2010      7    TMAX       d1    NaN
13   MX000017004  2010      7    TMIN       d1    NaN
14   MX000017004  2010      8    TMAX       d1    NaN
15   MX000017004  2010      8    TMIN       d1    NaN
16   MX000017004  2010     10    TMAX       d1    NaN
17   MX000017004  2010     10    TMIN       d1    NaN
18   MX000017004  2010     11    TMAX       d1    NaN
19   MX000017004  2010     11    TMIN       d1    NaN
20   MX000017004  2010     12    TMAX       d1  299.0
21   MX000017004  2010     12    TMIN       d1  138.0
22   MX000017004  2010      1    TMAX       d2    NaN
23   MX000017004  2010      1    TMIN       d2    NaN
24   MX000017004  2010      2    TMAX       d2  273.0
25   MX000017004  2010      2    TMIN       d2  144.0
26   MX000017004  2010      3    TMAX       d2    NaN
27   MX000017004  2010      3    TMIN       d2    NaN
28   MX000017004  2010      4    TMAX       d2    NaN
29   MX000017004  2010      4    TMIN       d2    NaN
..           ...   ...    ...     ...      ...    ...
652  MX000017004  2010      8    TMAX      d30    NaN
653  MX000017004  2010      8    TMIN      d30    NaN
654  MX000017004  2010     10    TMAX      d30    NaN
655  MX000017004  2010     10    TMIN      d30    NaN
656  MX000017004  2010     11    TMAX      d30    NaN
657  MX000017004  2010     11    TMIN      d30    NaN
658  MX000017004  2010     12    TMAX      d30    NaN
659  MX000017004  2010     12    TMIN      d30    NaN
660  MX000017004  2010      1    TMAX      d31    NaN
661  MX000017004  2010      1    TMIN      d31    NaN
662  MX000017004  2010      2    TMAX      d31    NaN
663  MX000017004  2010      2    TMIN      d31    NaN
664  MX000017004  2010      3    TMAX      d31    NaN
665  MX000017004  2010      3    TMIN      d31    NaN
666  MX000017004  2010      4    TMAX      d31    NaN
667  MX000017004  2010      4    TMIN      d31    NaN
668  MX000017004  2010      5    TMAX      d31    NaN
669  MX000017004  2010      5    TMIN      d31    NaN
670  MX000017004  2010      6    TMAX      d31    NaN
671  MX000017004  2010      6    TMIN      d31    NaN
672  MX000017004  2010      7    TMAX      d31    NaN
673  MX000017004  2010      7    TMIN      d31    NaN
674  MX000017004  2010      8    TMAX      d31  254.0
675  MX000017004  2010      8    TMIN      d31  154.0
676  MX000017004  2010     10    TMAX      d31    NaN
677  MX000017004  2010     10    TMIN      d31    NaN
678  MX000017004  2010     11    TMAX      d31    NaN
679  MX000017004  2010     11    TMIN      d31    NaN
680  MX000017004  2010     12    TMAX      d31    NaN
681  MX000017004  2010     12    TMIN      d31    NaN

[682 rows x 6 columns]

In [108]:
df3 = df3.dropna()

In [109]:
df3

              id  year  month element variable  value
20   MX000017004  2010     12    TMAX       d1  299.0
21   MX000017004  2010     12    TMIN       d1  138.0
24   MX000017004  2010      2    TMAX       d2  273.0
25   MX000017004  2010      2    TMIN       d2  144.0
40   MX000017004  2010     11    TMAX       d2  313.0
41   MX000017004  2010     11    TMIN       d2  163.0
46   MX000017004  2010      2    TMAX       d3  241.0
47   MX000017004  2010      2    TMIN       d3  144.0
56   MX000017004  2010      7    TMAX       d3  286.0
57   MX000017004  2010      7    TMIN       d3  175.0
84   MX000017004  2010     11    TMAX       d4  272.0
85   MX000017004  2010     11    TMIN       d4  120.0
92   MX000017004  2010      3    TMAX       d5  321.0
93   MX000017004  2010      3    TMIN       d5  142.0
102  MX000017004  2010      8    TMAX       d5  296.0
103  MX000017004  2010      8    TMIN       d5  158.0
104  MX000017004  2010     10    TMAX       d5  270.0
105  MX000017004  2010     10    TMIN       d5  140.0
106  MX000017004  2010     11    TMAX       d5  263.0
107  MX000017004  2010     11    TMIN       d5   79.0
130  MX000017004  2010     12    TMAX       d6  278.0
131  MX000017004  2010     12    TMIN       d6  105.0
148  MX000017004  2010     10    TMAX       d7  281.0
149  MX000017004  2010     10    TMIN       d7  129.0
168  MX000017004  2010      8    TMAX       d8  290.0
169  MX000017004  2010      8    TMIN       d8  173.0
202  MX000017004  2010      3    TMAX      d10  345.0
203  MX000017004  2010      3    TMIN      d10  168.0
222  MX000017004  2010      2    TMAX      d11  297.0
223  MX000017004  2010      2    TMIN      d11  134.0
..           ...   ...    ...     ...      ...    ...
324  MX000017004  2010     10    TMAX      d15  287.0
325  MX000017004  2010     10    TMIN      d15  105.0
334  MX000017004  2010      3    TMAX      d16  311.0
335  MX000017004  2010      3    TMIN      d16  176.0
362  MX000017004  2010      6    TMAX      d17  280.0
363  MX000017004  2010      6    TMIN      d17  175.0
486  MX000017004  2010      2    TMAX      d23  299.0
487  MX000017004  2010      2    TMIN      d23  107.0
498  MX000017004  2010      8    TMAX      d23  264.0
499  MX000017004  2010      8    TMIN      d23  150.0
542  MX000017004  2010      8    TMAX      d25  297.0
543  MX000017004  2010      8    TMIN      d25  156.0
568  MX000017004  2010     11    TMAX      d26  281.0
569  MX000017004  2010     11    TMIN      d26  121.0
578  MX000017004  2010      4    TMAX      d27  363.0
579  MX000017004  2010      4    TMIN      d27  167.0
580  MX000017004  2010      5    TMAX      d27  332.0
581  MX000017004  2010      5    TMIN      d27  182.0
590  MX000017004  2010     11    TMAX      d27  277.0
591  MX000017004  2010     11    TMIN      d27  142.0
610  MX000017004  2010     10    TMAX      d28  312.0
611  MX000017004  2010     10    TMIN      d28  150.0
626  MX000017004  2010      6    TMAX      d29  301.0
627  MX000017004  2010      6    TMIN      d29  180.0
630  MX000017004  2010      8    TMAX      d29  280.0
631  MX000017004  2010      8    TMIN      d29  153.0
638  MX000017004  2010      1    TMAX      d30  278.0
639  MX000017004  2010      1    TMIN      d30  145.0
674  MX000017004  2010      8    TMAX      d31  254.0
675  MX000017004  2010      8    TMIN      d31  154.0

[66 rows x 6 columns]

In [110]:
df3.id.unique()

array(['MX000017004'], dtype=object)

In [111]:
del df3['id']

In [112]:
df3

     year  month element variable  value
20   2010     12    TMAX       d1  299.0
21   2010     12    TMIN       d1  138.0
24   2010      2    TMAX       d2  273.0
25   2010      2    TMIN       d2  144.0
40   2010     11    TMAX       d2  313.0
41   2010     11    TMIN       d2  163.0
46   2010      2    TMAX       d3  241.0
47   2010      2    TMIN       d3  144.0
56   2010      7    TMAX       d3  286.0
57   2010      7    TMIN       d3  175.0
84   2010     11    TMAX       d4  272.0
85   2010     11    TMIN       d4  120.0
92   2010      3    TMAX       d5  321.0
93   2010      3    TMIN       d5  142.0
102  2010      8    TMAX       d5  296.0
103  2010      8    TMIN       d5  158.0
104  2010     10    TMAX       d5  270.0
105  2010     10    TMIN       d5  140.0
106  2010     11    TMAX       d5  263.0
107  2010     11    TMIN       d5   79.0
130  2010     12    TMAX       d6  278.0
131  2010     12    TMIN       d6  105.0
148  2010     10    TMAX       d7  281.0
149  2010     10    TMIN       d7  129.0
168  2010      8    TMAX       d8  290.0
169  2010      8    TMIN       d8  173.0
202  2010      3    TMAX      d10  345.0
203  2010      3    TMIN      d10  168.0
222  2010      2    TMAX      d11  297.0
223  2010      2    TMIN      d11  134.0
..    ...    ...     ...      ...    ...
324  2010     10    TMAX      d15  287.0
325  2010     10    TMIN      d15  105.0
334  2010      3    TMAX      d16  311.0
335  2010      3    TMIN      d16  176.0
362  2010      6    TMAX      d17  280.0
363  2010      6    TMIN      d17  175.0
486  2010      2    TMAX      d23  299.0
487  2010      2    TMIN      d23  107.0
498  2010      8    TMAX      d23  264.0
499  2010      8    TMIN      d23  150.0
542  2010      8    TMAX      d25  297.0
543  2010      8    TMIN      d25  156.0
568  2010     11    TMAX      d26  281.0
569  2010     11    TMIN      d26  121.0
578  2010      4    TMAX      d27  363.0
579  2010      4    TMIN      d27  167.0
580  2010      5    TMAX      d27  332.0
581  2010      5    TMIN      d27  182.0
590  2010     11    TMAX      d27  277.0
591  2010     11    TMIN      d27  142.0
610  2010     10    TMAX      d28  312.0
611  2010     10    TMIN      d28  150.0
626  2010      6    TMAX      d29  301.0
627  2010      6    TMIN      d29  180.0
630  2010      8    TMAX      d29  280.0
631  2010      8    TMIN      d29  153.0
638  2010      1    TMAX      d30  278.0
639  2010      1    TMIN      d30  145.0
674  2010      8    TMAX      d31  254.0
675  2010      8    TMIN      d31  154.0

[66 rows x 5 columns]

In [113]:
df3 = df3.reset_index(drop = True)

In [114]:
df3

    year  month element variable  value
0   2010     12    TMAX       d1  299.0
1   2010     12    TMIN       d1  138.0
2   2010      2    TMAX       d2  273.0
3   2010      2    TMIN       d2  144.0
4   2010     11    TMAX       d2  313.0
5   2010     11    TMIN       d2  163.0
6   2010      2    TMAX       d3  241.0
7   2010      2    TMIN       d3  144.0
8   2010      7    TMAX       d3  286.0
9   2010      7    TMIN       d3  175.0
10  2010     11    TMAX       d4  272.0
11  2010     11    TMIN       d4  120.0
12  2010      3    TMAX       d5  321.0
13  2010      3    TMIN       d5  142.0
14  2010      8    TMAX       d5  296.0
15  2010      8    TMIN       d5  158.0
16  2010     10    TMAX       d5  270.0
17  2010     10    TMIN       d5  140.0
18  2010     11    TMAX       d5  263.0
19  2010     11    TMIN       d5   79.0
20  2010     12    TMAX       d6  278.0
21  2010     12    TMIN       d6  105.0
22  2010     10    TMAX       d7  281.0
23  2010     10    TMIN       d7  129.0
24  2010      8    TMAX       d8  290.0
25  2010      8    TMIN       d8  173.0
26  2010      3    TMAX      d10  345.0
27  2010      3    TMIN      d10  168.0
28  2010      2    TMAX      d11  297.0
29  2010      2    TMIN      d11  134.0
..   ...    ...     ...      ...    ...
36  2010     10    TMAX      d15  287.0
37  2010     10    TMIN      d15  105.0
38  2010      3    TMAX      d16  311.0
39  2010      3    TMIN      d16  176.0
40  2010      6    TMAX      d17  280.0
41  2010      6    TMIN      d17  175.0
42  2010      2    TMAX      d23  299.0
43  2010      2    TMIN      d23  107.0
44  2010      8    TMAX      d23  264.0
45  2010      8    TMIN      d23  150.0
46  2010      8    TMAX      d25  297.0
47  2010      8    TMIN      d25  156.0
48  2010     11    TMAX      d26  281.0
49  2010     11    TMIN      d26  121.0
50  2010      4    TMAX      d27  363.0
51  2010      4    TMIN      d27  167.0
52  2010      5    TMAX      d27  332.0
53  2010      5    TMIN      d27  182.0
54  2010     11    TMAX      d27  277.0
55  2010     11    TMIN      d27  142.0
56  2010     10    TMAX      d28  312.0
57  2010     10    TMIN      d28  150.0
58  2010      6    TMAX      d29  301.0
59  2010      6    TMIN      d29  180.0
60  2010      8    TMAX      d29  280.0
61  2010      8    TMIN      d29  153.0
62  2010      1    TMAX      d30  278.0
63  2010      1    TMIN      d30  145.0
64  2010      8    TMAX      d31  254.0
65  2010      8    TMIN      d31  154.0

[66 rows x 5 columns]

In [116]:
df3 = df3['year', 'month', 'element', 'variable', 'value']

KeyError: ('year', 'month', 'element', 'variable', 'value')

In [117]:
df3.year.unique()

array([2010], dtype=int64)

In [118]:
df3.sort_values('month', inplace=True)

In [119]:
df3.reset_index(drop=True, inplace=True)

In [120]:
df3[df3.element == 'TMIN'].groupby('month').sum()

        year   value
month
1       2010   145.0
2       8040   529.0
3       6030   486.0
4       2010   167.0
5       2010   182.0
6       4020   355.0
7       4020   340.0
8      14070  1109.0
10     10050   654.0
11     10050   625.0
12      4020   243.0

In [121]:
df3[df3.element == 'TMIN'].groupby('month').mean()

       year       value
month
1      2010  145.000000
2      2010  132.250000
3      2010  162.000000
4      2010  167.000000
5      2010  182.000000
6      2010  177.500000
7      2010  170.000000
8      2010  158.428571
10     2010  130.800000
11     2010  125.000000
12     2010  121.500000

In [123]:
pd.pivot_table(df3, index='month', values='value') # 피벗은 조금 더 쉽게 만든 것 (groupby로 다 해결됨)

            value
month
1      211.500000
2      204.875000
3      243.833333
4      265.000000
5      257.000000
6      234.000000
7      231.250000
8      220.571429
10     209.900000
11     203.100000
12     205.000000

In [124]:
df3.groupby('month').mean()

       year       value
month
1      2010  211.500000
2      2010  204.875000
3      2010  243.833333
4      2010  265.000000
5      2010  257.000000
6      2010  234.000000
7      2010  231.250000
8      2010  220.571429
10     2010  209.900000
11     2010  203.100000
12     2010  205.000000

In [ ]:
#